*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5em;
}

a{
    color: #333;
    text-decoration: none;
}

.flex-container-li{
    display: flex;
    
    justify-content: space-between; 
}

.flex-container-li > li, .head-li-space h1{
    padding: 30px;
    list-style-type: none;
    
}

.head-li-space a{
    color: #FFF5EE;
}

.head-li-space li:hover, .head-li-space li:first-of-type{
    background: #FFA07A;
}

.flex-container-li > li{
    padding: 30px; 
}


.top-color{
    background: #8B4513;
}

.head-li-space{
    display: flex;
    justify-content: space-between;
}

.second-phase{
    background: url(3.jpg) no-repeat center/cover;
    height: 600px;
}

.second-wr-co{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:250px;
    text-align:center;
    
}

.second-phase h1, .second-phase p{
    color: #FFffff;
    width: 800px;
}

.second-phase h1{
    line-height: 1.2em;
    font-size: 3em;
}

.second-phase a{
    margin-top: 15px;
    padding: 20px;
    font-size: 20px;
    background: #FFC0CB;
    border-radius: 10px;
}

.second-phase a:hover{
    background:#FFF5EE;
}

.third-phase{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.third-img{
    background: url(2.jpg) no-repeat center;
    height: 600px;
}

.third-1{
    background: #FFEBCD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third-align-ct{
    text-align: center;
    width: 600px;
}

.third-align-ct h2{
    font-size: 2em;
    margin-bottom: 2em;
}

.third-align-ct #a{
    margin: 20px;
    padding: 20px;
    background: #DAA520;
    border-radius: 10px;
}

.third-align-ct #a:hover{
    background: #FFA07A;
    
}

.third-align-ct p{
    margin: 30px;
}

.fourth-a{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.fourth-a h3 {
    font-size: 30px;
    margin: 20px;
}

.fourth-a p {
    margin: 20px;
}

.fourth-1, .fourth-3{
    background:#E9967A;
    padding: 50px;
}

.fourth-2{
    background: #A0522D;
    padding: 50px
}

.footr{
    color:#FFEBCD;
    font-size: 1em;
    background: #8B4513;
    padding: 20px;
    text-align: center;
}

